.container {
    background-image: url(../images/bg.jpg);
    height: 960px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    overflow: hidden;
    color: #fff;
    font-size: 20px;
    text-align: center;
    background-color: #524B58;
}
header {
    width: 100%;
    text-align: center;
    background-color: #565A69;
    color: #FFA500;
}
.follow {
    background-color: #333;
    color: #FFA500;
    font-size: 20px;
    border-radius: 111px;
}
